.app-widget
    height: 172px !important
    min-width: 0
    width: 100%
    overflow: hidden

.app-widget-background--light
    background-color rgba(255, 251, 254, 1) !important
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10) !important;

.app-widget-background--dark
    background-color rgba(44, 48, 57, 1) !important
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.1) !important;

.app-widget-header
    height: 40px
    border-bottom: 1px solid
    align-items: center
    gap: 12px

.app-widget-header-background--light
    border-bottom-color: rgba(0, 0, 0, 0.1) !important
  
.app-widget-header-background--dark
    border-bottom-color: rgba(255, 255, 255, 0.1) !important

.app-widget-children
    flex: 1
    width: 100%
    height: 100%
    overflow: hidden
    min-width: 0

.app-tab
    transition: opacity 200ms, transform 400ms
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1)
    overflow-x: hidden
    overflow-y: scroll
    -ms-overflow-style: none
    scrollbar-width: none

.app-tab::-webkit-scrollbar
    display: none

.app-tab--entering
    transition: none;
    opacity: 0
    transform: translateY(40px) scale(0.95)

.app-tab--entered
    opacity: 1
    transform: translateY(0)

.app-tab--exiting
    opacity: 0
    transform: translateY(-40px) scale(0.9)

.app-tab--exited
    opacity: 0
    transform: translateY(-40px) scale(0.9)