[role=application]
    @extend $sidebar
    @extend $navigation

.con-cat-discovery
    background: embedurl("../assets/sprites/icon-compass.svg") em(24px) center no-repeat
    &.active
        background-image: embedurl("../assets/sprites/icon-compass-active.svg")
.con-cat-categories
    background: embedurl("../assets/sprites/icon-grid.svg") em(24px) center no-repeat
    &.active
        background-image: embedurl("../assets/sprites/icon-grid-active.svg")
.con-cat-pinned
    background: embedurl("../assets/sprites/icon-pin.svg") em(24px) center no-repeat
    &.active
        background-image: embedurl("../assets/sprites/icon-pin-active.svg")


@media (max-width: (1023/basefont)rem)
    .con-cat-discovery
    .con-cat-categories
    .con-cat-pinned
        background-position center top


.con-nav-submenu
    margin .5em 0 0 3em

    .con-nav-submenu-link
        padding 0.5em 1em
        color   grey-08
        margin  0

    .active
        color            white
        background-color grey-08
        border-radius    4px 0 0 4px

@media (max-width: (1023/basefont)rem)
    .coz-nav-submenu
        display none
