language: node_js
matrix:
  fast_finish: true
node_js:
- '6'
branches:
  except:
  - build
env:
  global:
  - CXX=g++-4.8
  - secure: KjY8c7+AQdafafSAkSfOnlWLgpVoswDBZwYdD2Ob7uQ9Ln2Scoom3tLLmv5ZncWuU5SrRwqhOLnXe/kNf+vvJvzYYTIAgQKkwEEjxwc9VfIv5mXPyWWNUgq2Ci+IsqWaBymntWWh2Ph+k4LamU+Lt/HjonNP7PbS0NpNiTLGzkESVTP7qb43n0RUT+u3W8JvD+xK4UWYSkI+1Z8zz4qyiiNHbBOi5gckyUth97bQoHTasKAkMnGocclWzCGM/N/8x2pRZzr2JuD4MRy8y8mx7Ps1fsyvMb6sEV2zngeORl6XMw+Kzh66Vhe5XjpZstvVZIv1Ej2l/KOHGunRTj2Kyb+3GT+IIigOgN+nP9CWyhSjGyiA2/+tt+Muo9Pn9qWxNGDF28Jv95qz6sYS3MICxqnl1OSoi2YnPvjRX2fQ+sXovusC1kNkoVwnd+uDjQgcdmR0j7OEDhHzbnUZIK3jsYHDwhOXbMxS74qHF+JpfyB+MhowTI2kKP3P+EczgwzFKNJZOz7EaA0hu+jvi8vlhg0BnNaPLGVznhn4FE3wXKxcILg96gX7KiJl6d0WaiMx+2yT+ftBV+9kklof6jfEAf55vT1PpIQZD6foNAmwohuPGc332YuI+p1qMWrYwkpyKdSe9QINtZS7Y2PsDak7YNfFpWKvAohupNtFLMbaNeY=
  - secure: k+l7JX8xWzDGhgwYie6XNivipMnNyd/uPm3eudNMgOduno9nTLqFkBsJiYOROD2O+HddtlRY2rUJapctH/Mbph2vxxhdsdsu32fB/nkgEj4/NrGsoyAnRWmT9yYYdl93Av1V60M919+xSMpUKwM67PvWlf0KRGb73A2MJH4hN5siOT9Z+I77MPTJegKTh/NsLAjpaz9wFgysjAxs9+MzxWxnncLkcEdTGAQERKeb7iZAczt66Of9XzqkCD+VHrrdO8I5TfpHiWkx5GvRbrnwy/g15ZxBbTYjVR01uU5gNR9qFLt5zSMbkaCy+pu6oWG8k87CfVjqmNgxgWjq4sanjO6lptHn3QAWSutT0Zq7iAHBA+OFR2oiXePLWSjTPXPOo8Bwkm401VgPuXOyQ07xt+VufF+pX6lYIcwx7wqWfElEtpkc3V7vDoF6rdNQDte2sZwQUAqdzkAnXrS7il3q1FWBiGT8x1FVWjrSxs0wagVrdQxM1bSOAD8M/E1BgU/WIsc3qmFh98Ki8YB2JbTAgsxhncVs/OcWj/YSl2AUbIMHfATWPM8VVq9e8alnvhmRcY/oqWvwU7tGMepM1em7pCQIWqMKAx513z5qqHHmhtop3XaUGE8PHmpjWkRorGm2mWC5xtAVywl+2fmXpi8rHAn7WHTwuK/OIcdEqT98bRw=
  - secure: "M7CBcJEfKEF4c4cHwXusWvZel13es9kxsKuxlQkwZxypDuYtrbZpDJq0Ho69tCPjIDI1GUM5wGas1X7wzvMHaog3czmE081m2Z9tRzdoAV4yFV4Lj6eGU3gypgNk/Ousx13FrodC7/FDd+6TcPZj/lUCcKUyTKVoXzGeINMBL7T7BJ51p0UTYjOCjhulGVceT1GkOhrMo92kbwEFGAHbth2CrFK/HvmmcLuc53IZFMP8+c29L1guwCAnt9xOJhEH9I6shpyt6j+/xYXn4brhP2JFOtq4mlWsq/lbx8SEFOyFW5PKvNrIfAlEPTe5T6/+i5hEKX9hsCbzgPH8xr40gTJ8yornqu6Av/BZE4nJr0g077ozyajMo9oXHRz0VgLXZP39/W9T5OeJUF49RSgL5Z8FDlq39m08uu/6X2Gv6tQs5gt/DbGt9TkcMjzxhiu/yiv7rFvqsQsiX/ebYwiaad8xzdiMsbivqXCtwUWuj7MHnL7FK4pd62JIloWCN5X7ZephqupQlyGdVzE8QATtkCmkXtLTJrhJ0plBOjICcg+8tHxh0ZpNjFMHr6Ue9h/FefjsX8GfDAy5qRUsD4PY2HWsBbq+MdBdmbsGAAFcrDJtaPcPavahqDpX0hz0DBSKd09HSD0Ycd6FUde6pC7GNPzasDLnF8gWxpTz6D+f08g="
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - deadsnakes
    packages:
    - g++-4.8
    - python3.5
cache:
  yarn: true
  directories:
  - node_modules
before_install:
- curl -fsSL https://bootstrap.pypa.io/get-pip.py | python3.5 - --user
- travis_retry pip3.5 install --user transifex-client
- install -m0644 .transifexrc.tpl ~/.transifexrc
- echo "password = $TX_PASSWD" >> ~/.transifexrc
script:
- yarn test
- yarn run build
after_success:
- test $TRAVIS_BRANCH = "master" && yarn run deploy -- --branch=build
- test $TRAVIS_BRANCH = "prod" && yarn run deploy -- --branch=latest
- sh scripts/publish_registry.sh
