.personalizationTabButton
  background-color: var(--actionColorDisabled) !important

.personalize-fab-container
  z-index: var(--zIndex-nav)

.personalize-popper
  z-index: var(--zIndex-nav)

.personalize-grow
  transform-origin: right bottom

.personalize-modal-container
  width: 300px
  height: 440px

.personalize-modal-title
  width 'calc(100% - 2rem)'
  gap '0.5rem'
