@require 'tools/mixins.styl'

:local // @stylint ignore
    .col-account-connection-data
        margin 0 (16/basefont)em
        min-width 25%

        h4
            margin-bottom 1rem

    .col-account-connection-data-access
        margin-top 0
        padding-left 0
