@require 'tools/mixins.styl'

:local // @stylint ignore
    .col-account-connection-data
        margin 0 0 0 (8/basefont)em

        h4
            margin-bottom 1rem
            white-space nowrap

    .col-account-connection-data-access
        margin-top 0
        padding-left 0
