@import 'cozy-ui'

:local // @stylint ignore
    p
        font-size   (16/basefont)em
        line-height (24/basefont)em

    .col-account-connection-security svg
        max-height   (48/basefont)em
        max-width    (48/basefont)em
        float        left
        margin-right (16/basefont)em
