@import cozy-ui

:local
    .account-management-disconnect
        margin 0 0 (16/basefont)em

    .account-management-controls
        display flex

        .coz-btn
            flex 1

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0
