@import 'cozy-ui'

:local
  .col-account-connection-content
    display: flex;
    flex-wrap: wrap
    width (872/basefont)em

  .col-account-connection-form,
  .col-account-connection-data
    margin 0 (16/basefont)em

  h3
    font-size:  (32/basefont)em

  .col-account-connection-form
    width (460/basefont)em

  h4
    font-size (24/basefont)em
    margin    (24/basefont)em 0

  .col-account-connection-data-access
    padding-left 0
