@import 'cozy-ui'

:local // @stylint ignore
    .coz-form-controls
        margin (32/basefont)em 0 (8/basefont)em
        display flex
        flex-wrap wrap

    .coz-form-controls
        .coz-btn
            // Used to position progress bar
            flex 1 0 auto
            width 100%

            &:first-of-type
                margin-left 0

            &:last-of-type
                margin-right 0

    .col-btn--regular
        margin    0
        font-size (16/basefont)em
        height    (48/basefont)em
        width     100%

    .col-account-form-success-buttons
        width 100%

        button
            width 100%

    .account-form-login
        .col-account-form-advanced-button
            font-family         Lato, sans-serif
            cursor              pointer
            margin              em(16px) 0 0
            font-size           .8em
            border              0
            color               dodgerBlue
            background-color    white
            text-transform      uppercase
            font-weight         700
            padding             em(2px) // Magic number to align button with form fields

    .account-form-fieldset
        padding   0
        border    0
