@import cozy-ui

:local // @stylint ignore
    .coz-form-controls
        margin (32/basefont)em 0 (8/basefont)em
        display flex
        flex-wrap wrap

    .coz-form-controls,
    .col-account-form-delete
        .coz-btn
            // Used to position progress bar
            flex 1 0 auto

            &:first-of-type
                margin-left 0

            &:last-of-type
                margin-right 0

    .col-btn--regular
        margin    0
        font-size (16/basefont)em
        height    (48/basefont)em
        width     100%

    .col-account-form-delete .coz-btn
        width 100%

    .col-account-form-success-buttons
        width 100%

        button
            width 100%
