@require 'components/button.styl'
@require 'settings/palette.styl'

:local
    .col-account-picker-header-image
        max-height 2rem

    .col-account-picker
        list-style-type none
        padding 0

    .col-account-picker-button
        @extend $button
        @extend $button--full
        background-color transparent
        border-color silver
        border-radius .3em
        margin .3em 0
        font-size rem(16)
        height rem(48)

        &:active,
        &:focus,
        &:hover
            background-color paleGrey

    .col-account-picker-button-account
        text-transform none
        display flex
        flex-direction row
        justify-content space-between
        align-items center

        .col-account-picker-button-infos
            color charcoalGrey
            display flex
            flex-direction column
            overflow hidden
            white-space nowrap

            span, small
                text-align left
                overflow hidden
                text-overflow ellipsis

            small
                line-height 1rem
                color coolGrey

        .col-account-picker-button-status
            display flex
            flex-direction row
            align-items center
            flex-basis 12.5rem
            color coolGrey
            overflow hidden
            justify-content flex-end
            flex-shrink 0

            span
                margin 0 .5rem
                overflow hidden
                text-overflow ellipsis
                white-space nowrap

            svg
                margin 0

        .col-account-picker-button-status--error
            color pomegranate

    .col-account-picker-button-add
        border-style dashed
        font-weight bold

        span
            color dodgerBlue

        // Sad but only way to override :hover style
        &:not([disabled]):not([aria-disabled=true])
            &:active,
            &:focus,
            &:hover
                color scienceBlue
