@import cozy-ui

:local
  .coz-form-controls
    margin (32/basefont)em 0 (8/basefont)em

    .col-btn--regular
      margin 0
      font-size (16/basefont)em
      height (48/basefont)em
      width 100%
