.con-wrapper
    @extend $app-2panes-sticky

.con-content
    top-padded(30px)

    h1
        margin  .5em 0

    [role=contentinfo]
        padding 0 2em

    @media (max-width: (480/basefont)rem)
        top-padded(10px)

.con-initial-error,
.con-initial-loading
    display         flex
    width           100vw
    align-items     center
    justify-content center

.con-top-bar
    display         flex
    flex-direction  row
    justify-content space-between
    align-items     center
    padding-right   .5em
