@require 'objects/layouts.styl'
@require 'tools/mixins.styl'
@require 'components/button.styl'
@require 'settings/palette.styl'


.col-content
.col-top-bar
    padding 0 2rem

    +small-screen()
        padding 0 .5rem

.col-initial-error,
.col-initial-loading
    display         flex
    width           100vw
    align-items     center
    justify-content center

.col-top-bar
    display         flex
    flex-direction  row
    justify-content space-between
    align-items     center

    +small-screen()
        margin-top .5rem

        button
            width   100%

[role=banner] .col-view-title
    padding     0
    margin      0
    display     flex
    align-self  center

.col-button
    @extend $button
    @extend $button--regular


.col-account-connection-header
    @media (max-width: rem(930))
        width   100%

    svg
        max-height rem(48)

.col-account-connection-back
    height 2em
    display block
    float left
    margin-right 1em
    padding-top .25em

    svg
        height 1.5em
        width 1.5em
