@require 'objects/layouts.styl'
@require 'tools/mixins.styl'
@require 'components/button.styl'
@require 'settings/palette.styl'

.col-wrapper
    @extend $app-2panes-sticky

.col-content
    top-padded(30px)

    h1
        margin  .5em 0

    [role=contentinfo]
        padding 0 2em

    @media (max-width: (480/basefont)rem)
        top-padded(10px)

.col-initial-error,
.col-initial-loading
    display         flex
    width           100vw
    align-items     center
    justify-content center

.col-top-bar
    display         flex
    flex-direction  row
    justify-content space-between
    align-items     center
    padding-right   .5em

    @media (max-width: (768/basefont)rem)
        .col-top-bar-title
            font-size 24px
            margin    0
            position  fixed
            top       .75rem
            left      2.5rem
            right     0
            z-index   20
            height    48px

.col-button
    @extend $button
    @extend $button--regular

.col-icon--add
    width           16px
    height          16px
