@require 'settings/icons.styl'
@require 'settings/palette.styl'
@require 'tools/mixins.styl'


// inside modal spinner
.installing
    padding 2em
    text-align center
    font-size 2em
    color coolGrey

.installing-spinner
    @extend $icon-spinner-blue
    @extend $icon-36
    margin-bottom 1em

:local // @stylint ignore
    .col-account-modal
        max-width 50rem!important // @stylint ignore
        width 50rem!important // @stylint ignore

        @media (max-width: (930/basefont)rem)
            max-width   calc(100% - 3rem)!important // @stylint ignore

    .col-account-connection-back
        height 2em
        display block
        float left
        margin-right 1em
        padding-top 1em

        svg
            height 1.5em
            width 1.5em
