@import 'cozy-ui'

// inside modal spinner
.installing
    padding 2em
    text-align center
    font-size 2em
    color grey-06

.installing-spinner
    @extend $icon-spinner-blue
    @extend $icon-36
    margin-bottom 1em
