@require 'settings/icons.styl'
@require 'settings/palette.styl'
@require 'tools/mixins.styl'


// inside modal spinner
.installing
    padding 2em
    text-align center
    font-size 2em
    color coolGrey

.installing-spinner
    @extend $icon-spinner-blue
    @extend $icon-36
    margin-bottom 1em
