@import cozy-ui

:local
  .col-data-item
    display     flex
    flex-wrap   wrap
    align-items center

  .col-data-item-icon
    display    inline-block
    max-width  em(32px)
    max-height em(32px)
    margin     em(8px)
