@require 'cozy-ui'

:local // @stylint ignore
    .col-data-item
        display     flex
        flex-wrap   nowrap
        align-items center

    .col-data-item-icon
        display    inline-block
        max-width  em(32px)
        max-height em(32px)
        margin     em(8px)
        margin-left em(4px)
