@require 'cozy-ui'

:local // @stylint ignore
    .col-data-item
        display     flex
        flex-wrap   nowrap
        align-items center

    .col-data-item-icon
        display    inline-block
        max-width  2rem
        max-height 2rem
        margin     .5rem
        margin-left .25rem
