@require 'settings/breakpoints'

.col-error
    @extend $empty

    &:before
        background  embedurl('../assets/icons/color/default.svg') center center / contain no-repeat

    button
        margin  2em auto

.col-picture-for-empty-list
    display flex
    align-items center
    justify-content center

    +mobile()
        flex-direction column

    &--text
        text-align left

        +mobile()
            text-align center

    .col-button
        margin 0 0 1rem

    h2
    p
        margin 1rem 0

    &--img
        height 15rem
        margin 1rem

        +mobile()
            max-width: 80%
    h2
        font-size   1.125rem
        line-height 1.5rem
    p
        color       coolGrey

    +mobile()
        &.connector-list
            height auto
