.col-error
    @extend $empty

    &:before
        background  embedurl('../assets/icons/color/default.svg') center center / contain no-repeat

    button
        margin  2em auto

.col-picture-for-emtpy-list
    text-align      center
    &--img
        max-width   400px
        width       100%
    h2
        font-size   1.125rem
        line-height 1.5rem
    p
        color       coolGrey
