@require 'settings/palette.styl'
@require 'components/forms.styl'

text-button-color = dodgerBlue

:local // @stylint ignore
    .coz-field
        position relative
        margin   1em 0 .5em
        &:last-child
            margin-bottom 0

        // Managing input width with flex
        display         flex
        flex-direction  row
        flex-wrap       wrap

        label,
        .password-visibility
            display        block
            text-transform uppercase
            color          coolGrey
            font-size      .8em
            padding        .55em 0
            flex           1 0 auto
        &--optional
            text-transform none
            float          right

        .password-visibility
            font-family Lato, sans-serif
            width       auto
            flex-grow   0
            border      0
            background  transparent
            text-align  right
            white-space nowrap
            cursor      pointer
            color       text-button-color
            font-weight bold

        .error-label
            display none
            color   pomegranate

        select
            @extend $select

        .c-select--tiny
            @extend $select--tiny

        .c-select--medium
            @extend $select--medium

        .c-select--fullwidth
            @extend $select--fullwidth

        &.coz-field--error
            input[type=text]
            input[type=email]
            input[type=password]
            input[type=date]
            select
                border     1px solid pomegranate
                box-shadow none // prevent Firefox shadow

            label
                color pomegranate

            .coz-field-error
                color       pomegranate
                margin      1rem 0 0
                width       100%
