@require 'settings/palette.styl'

text-button-color = dodgerBlue

:local // @stylint ignore
    .coz-field
        position relative
        margin   1em 0 .5em
        &:last-child
            margin-bottom 0

        // Managing input width with flex
        display         flex
        flex-direction  row
        flex-wrap       wrap

        label,
        .password-visibility
            display        block
            text-transform uppercase
            color          coolGrey
            font-size      .8em
            padding        .55em 0
            flex           1 0 auto
        &--optional
            text-transform none
            float          right

        .password-visibility
            font-family Lato, sans-serif
            width       auto
            flex-grow   0
            border      0
            background  transparent
            text-align  right
            white-space nowrap
            cursor      pointer
            color       text-button-color
            font-weight bold

        .error-label
            display none
            color   pomegranate

        input[type=text]
        input[type=email]
        input[type=password]
        input[type=date]
        select
            display       inline-block
            width         100%
            padding       .75em .75em .9em
            border-radius 2px
            box-sizing    border-box
            background-color transparent
            border        1px solid silver
            color         black
            &::placeholder
                color     coolGrey
                font-size 1.05em
            &:focus
                border     1px solid dodgerBlue
            &:hover
                border 1px solid coolGrey
            &.error
                border     1px solid pomegranate

            &[disabled]
                cursor not-allowed
                background-color silver
                opacity .5

                &:focus
                &:hover
                    border-color silver

        select
            -moz-appearance     none
            -webkit-appearance  none
            appearance          none
            background-image    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'><polyline points='14.764,4.966 8.053,11.677 1.342,4.966'/></svg>")
            background-position right 8px center
            background-repeat   no-repeat
            &::-ms-expand
                display none


        &.coz-field--error
            input[type=text]
            input[type=email]
            input[type=password]
            input[type=date]
            select
                border     1px solid pomegranate
                box-shadow none // prevent Firefox shadow

            label
                color pomegranate

            .coz-field-error
                color       pomegranate
                margin      1rem 0 0
                width       100%
