@import 'cozy-ui'

progress
    width         100%
    margin        1em 0
    color         white
    font-size     .6em
    line-height   1.5em
    text-indent   .5em
    height        1em
    background    #0A3A7A
    border        0
    border-radius 20px

    // chrome and safari
    &::-webkit-progress-bar
        background    #0A3A7A
        border-radius 20px

    &::-webkit-progress-value
        background    white
        border-radius 20px

    // firefox
    &::-moz-progress-bar
        background    white
        border-radius 20px
