@require 'cozy-ui'

progress
    flex           1 0 auto
    width          100%
    margin         1em 0
    color          dodger-blue
    font-size      .6em
    line-height    1.5em
    text-indent    .5em
    height         1em
    background     pale-grey
    border         0
    border-radius  20px

    // chrome and safari
    &::-webkit-progress-bar
        background    grey-01
        border-radius 20px

    &::-webkit-progress-value
        background     dodger-blue
        border-radius  20px

    // firefox
    &::-moz-progress-bar
        background     dodger-blue
        border-radius  20px
