@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

whiteOnWhiteShadow = drop-shadow(0 1px 1px rgba(50, 54, 63, .32)) drop-shadow(0 2px 8px rgba(50, 54, 63, .08)) drop-shadow(0 1px 4px rgba(50, 54, 63, .16))

.hero-header
    box-sizing border-box
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex-shrink 0
    position relative
    padding 3rem 4rem 3rem
    +tiny-screen()
        padding 3rem 4rem 2rem

    .corner
        position absolute
        top rem(8)
        right rem(8)

        .corner-button
            opacity .64
            color var(--primaryContrastTextColor)
            filter whiteOnWhiteShadow

            &:hover
                opacity 1

    .hero-avatar
        width 8rem
        height 8rem
        border-radius 50%
        border 2px solid var(--white)
        box-shadow 0 2px 16px 0 textShadowHeavy
        margin-bottom 1rem

        +tiny-screen()
            width 4.5rem
            height 4.5rem
            margin-bottom .25rem

    .hero-title
        color var(--primaryContrastTextColor)
        font-size 3rem
        font-weight bold
        letter-spacing -.8px
        line-height 1.08333
        margin 0 1rem
        max-width 50rem
        text-align center
        filter whiteOnWhiteShadow

        +tiny-screen()
            font-size 2rem
            line-height 1.15625

    .hero-subtitle
        color var(--primaryContrastTextColor)
        font-size 1rem
        font-weight normal
        line-height 1.3125
        margin 0 1rem
        max-width 50rem
        text-align center
        filter whiteOnWhiteShadow

        +tiny-screen()
            font-size .75rem
            line-height 1.3333
