@require 'cozy-ui'

:global
    #svg-sprite-content
        position absolute
        width 0
        height 0
        visibility hidden


    @require './app.styl'
    @require './sidebar.styl'
    @require './lists.styl'

    @require './dialog.styl'

    @require './loading.styl'
    @require './error.styl'

    @require './notifier.styl'

    @require './introjs-cozy.styl'
