@import 'cozy-ui/defaults'
@import 'cozy-ui'

:global
    #svg-sprite-content
        position absolute
        width 0
        height 0
        visibility hidden

    @import './app.styl'
    @import './sidebar.styl'
    @import './lists.styl'

    @import './dialog.styl'

    @import './loading.styl'
    @import './error.styl'

    @import './notifier.styl'

    @import './introjs-cozy.styl'

    // inside modal spinner
    .installing
        padding 2em
        text-align center
        font-size 2em
        color grey-06

    .installing-spinner
        @extend $icon-spinner-blue
        @extend $icon-36
        margin-bottom 1em
