.introjs-tooltip
    background-color transparent
    color white
    box-shadow none
    text-shadow 0 0 8px black

.introjs-helperLayer
    border 0
    border-radius 8px

[data-tutorial=empty-view]
    max-width 400px
    margin    auto

.tooltipLeft
    min-width inherit
    max-width inherit

.tooltipSmallLeft, .tooltipSmallCenter
    max-width calc(100vw - 100px)
    min-width calc(100vw - 100px)

.tooltipSmallCenter
    top 100%!important // @stylint ignore
    left 100%!important // @stylint ignore

.tooltipTopCenter
    left calc( 50% - (450px) / 2)!important // @stylint ignore
    width 400px
    min-width 100% // @stylint ignore
    max-width 100% // @stylint ignore

.tooltipSmallTopCenter
    left 10px!important // @stylint ignore
    max-width 100% // @stylint ignore

.tooltipRight
    left calc( 50% - (400px) / 2)!important // @stylint ignore
    width 400px // @stylint ignore

.introjs-prevbutton, .introjs-arrow, .introjs-helperNumberLayer, .introjs-skipbutton
    display none !important // @stylint ignore

.introjs-tooltipbuttons
    text-align left

.introjs-button
    margin-top 20px
    text-align center
    padding 11px 24px
    border-radius 2px
    background-color dodger-blue
    color white
    background-image none
    text-shadow inherit
    border-width 0
    font-size 14px
    text-transform uppercase
    box-shadow 0 0 5px 0 #111111 // @stylint ignore
    text-shadow none // @stylint ignore

.introjs-button:focus, .introjs-button:active
    background-image none

.introjs-button:hover
    box-shadow none

@media (max-width: 40em)
    .introjs-tooltiptext
        div
            display none
        h1
            font-size 1.5em
