/* issue about the layout position
https://github.com/usablica/intro.js/issues/109
*/
@media (max-width: 1023px)
    .introjs-fixParent
        position: absolute !important; // @stylint ignore
    .introjs-fixedTooltip
        top: 0!important; // @stylint ignore


.introjs-tooltip
    background-color transparent
    color white
    box-shadow none
    text-shadow 0 0 8px black

.introjs-helperLayer
    border 0
    border-radius 8px

[data-tutorial=empty-view]
    max-width 400px
    margin    auto

.introjs-prevbutton, .introjs-arrow, .introjs-helperNumberLayer, .introjs-skipbutton
    display none !important // @stylint ignore

.introjs-tooltipbuttons
    text-align left

.introjs-button
    margin-top 20px
    text-align center
    padding 11px 24px
    border-radius 2px
    background-color dodgerBlue
    color white
    background-image none
    text-shadow inherit
    border-width 0
    font-size 14px
    text-transform uppercase
    box-shadow 0 0 5px 0 #111111 // @stylint ignore
    text-shadow none // @stylint ignore

.introjs-button:focus, .introjs-button:active
    background-image none

.introjs-button:hover
    box-shadow none

.tooltipBottom,
.tooltipEmptyBottom
    max-width 100%!important // @stylint ignore
    margin-top 8rem!important // @stylint ignore

/* Fixes for introjs breaking points, larger to smaller */
@media (max-width: 1118px)
    .tooltipBottom
        top 140px!important // @stylint ignore
        margin-top -4rem!important // @stylint ignore

@media (max-width: 858px)
    .tooltipEmptyBottom
        top 370px!important // @stylint ignore
        margin-top -6rem!important // @stylint ignore

@media (max-width: 680px)
    .tooltipBottom
        top 140px!important // @stylint ignore

@media (max-width: 450px)
    .tooltipEmptyBottom
        top 150%!important // @stylint ignore

@media (max-width: 360px)
    .tooltipApps
        margin-left 0!important // @stylint ignore
        margin-top 0!important // @stylint ignore
        max-width 100%!important // @stylint ignore

    .introjs-button
        white-space normal!important // @stylint ignore

// hide details in smaller screen
@media (max-width: 40em)
    .introjs-tooltiptext
        div
            display none
        h1
            font-size 1.5em
