.introjs-tooltip
    background-color transparent
    color white
    box-shadow none

.tooltipBottom
    min-width inherit
    max-width inherit
    width 200%!important // @stylint ignore

.tooltipRight, .tooltipSmallRight
    min-width 100%
    max-width 100%

.tooltipSmallBottom
    margin-top -20px
    left -10px!important // @stylint ignore
    right -10px!important // @stylint ignore

.tooltipLeft
    left -300px!important // @stylint ignore
    right -50px!important // @stylint ignore
    min-width inherit
    max-width inherit

.tooltipCenter
    top 100%!important // @stylint ignore
    left 100%!important // @stylint ignore
    width 400px

.introjs-prevbutton, .introjs-arrow, .introjs-helperNumberLayer, .introjs-skipbutton
    display none !important // @stylint ignore

.introjs-tooltipbuttons
    text-align left

.introjs-button
    margin-top 20px
    text-align center
    padding 11px 24px
    border-radius 2px
    background-color dodger-blue
    color white
    background-image none
    text-shadow inherit
    border-width 0
    font-size 14px
    text-transform uppercase

.introjs-button:focus, .introjs-button:active
    background-image none

.introjs-button:hover
    box-shadow none
