@require 'cozy-ui'

:local // @stylint ignore
    .maintenance
        &-intro
            text-align center
            color #f52d2d
            margin: em(16px) auto

        &-icon
            width em(100px)
            height em(100px)
            margin 0 auto
            background embedurl('../assets/icons/icon-maintenance.svg') 0 no-repeat

        &-service
            font-size em(18px)
