@import cozy-ui

:local // @stylint ignore
    .col-konnector-management-header svg
        max-height (48/basefont)em

    .col-konnector-management-content
        display   flex
        flex-wrap wrap
        width     (872/basefont)em

    .col-konnector-management-header,
    .col-konnector-management-form,
    .col-konnector-management-data
        margin 0 (16/basefont)em

    .col-konnector-management-icon
        height 3em

    h3
        font-size   (24/basefont)em
        line-height 1.5em
        margin      .667em 0

    .col-konnector-management-form
        width (460/basefont)em

    h4
        font-size   (20/basefont)em
        line-height 1.5em
        margin      1em 0

    .col-konnector-management-data-access
        padding-left 0
