@require './accountLoginForm'

.col-account-success
    text-align center

.col-account-success-links
    display flex
    align-items center
    flex-direction column

.col-account-success-link
    color dodgerBlue
    text-decoration none
    font-weight bold
    background embedurl('../assets/icons/icon-openwith.svg') 0 no-repeat
    display block
    padding-left 1.3em
    margin-top 1rem
    cursor pointer

.col-account-success-illu
    height rem(112)
    width rem(120)
