@import 'cozy-ui'

:local // @stylint ignore

    .col-konnector-status-running
        position absolute
        width    24px
        height   24px
        bottom   1em
        right    1em
        @extend $icon-spinner-blue
