@import cozy-ui

text-button-color_bis = dodgerBlue

:local // @stylint ignore
    .account-forceConnection
        button
            font-family Lato, sans-serif
            font-size   .9rem
            border      0
            background  transparent
            color       text-button-color_bis
            text-transform uppercase
            cursor pointer
            font-weight bold
            margin      0
            padding     0

        .submitting::after
            content ''
            margin  0 0 0 .5em
            width   em(16px)
            height  em(16px)
            @extend $icon-spinner-blue
