@import 'cozy-ui'

:local // @stylint ignore

    .col-account-folder-highlighted-data
        padding .5em 1em
        display block
        background grey-01

    .col-account-folder-link
        color dodger-blue
        text-decoration none
        font-weight bold
        background embedurl('../assets/icons/icon-openwith.svg') 0 no-repeat
        display block
        padding-left 1.3em
        margin-top 0.5em

