@import 'cozy-ui'

:local // @stylint ignore
    .col-account-edit-content
        margin-top 2em

        .col-account-edit-tabs
            .col-account-edit-tabpanel
                padding-top 0

            h4
                margin-top 1.25rem

            svg
                width 1em
                height 1em
                vertical-align baseline
                margin-left 1em

            // @stylint off
            .col-account-edit-tab
                @media (max-width: (640/basefont)rem)
                    font-size .7em

                @media (max-width: (512/basefont)rem)
                    width               calc(100% - 2rem)
                    border-top          1px solid silver
                    text-align          center

    .col-account-connection-editor
        text-align      center
        color           cool-grey
        margin-top      .5em
        margin-bottom   .5em
