.connector-list
    display          flex
    flex-wrap        wrap
    justify-content  flex-start
    margin           0 -.7em 2em
    list-style       none

ul.connector-list
    margin-top       60px
    padding          0 20px

// We differenciate the "real" margin from the "used" margin. The "used" margin
// allow to use a little higher value for flex-basis calculation. Firefox
// and Chrome are behaving well but IE11 need it.
$item-real-margin = .7em
$item-margin = .8em

.item-wrapper
    flex             1 1 'calc(100% - %s * 2)' % $item-margin
    position         relative
    box-sizing       border-box
    border-radius    4px
    background-color white
    border           1px solid alpha(black, .15)
    margin           $item-real-margin
    padding-bottom   2.5em
    cursor           pointer
    text-decoration  none
    text-align       center
    transition       .2s ease all
    &:hover
        box-shadow 0 4px 12px 0 alpha(black, .15)
        transform  scale(1.05)
        transition .2s ease all
    .item-header
        position      relative
        border-radius 4px 4px 0 0
        height        6em
        background    white
        .item-icon
            position      relative
            display       block
            max-width         10em
            max-height        3em
            margin        0 auto
            top           50%
            transform     translateY(-50%)
    .item-title
        padding     0 .5em
        margin      .5em
        color       black
        font-size   em(20px)
        font-weight 700
    .item-subtitle
        font-size       14px
        padding         0 3em
        width           100%
        overflow        hidden
        margin          0
        color           grey-06
        box-sizing      border-box
        position        absolute
        text-overflow   ellipsis
        white-space     nowrap
    .item-status-icon
        position absolute
        width    24px
        height   24px
        bottom   1em
        right    1em

.col-voting-item
    border      2px dashed alpha(black, .15)
    &:hover
        box-shadow  none
    .item-title
        font-size   1em
        font-weight 500

// Dedicated for IE 11 which seems not to take the default 100% into account.
@media (min-width: 1em)
    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(100% - %s * 2)' % $item-margin

@media (min-width: 38em)
    .item-wrapper
        flex-grow  0
        flex-basis 'calc(50% - %s * 2)' % $item-margin

@media (min-width: 43em)
    .use-case-dialog
        min-width 32em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(50% - %s * 2)' % $item-margin

@media (min-width: 50em)
    .item-wrapper
        flex-basis 'calc(33.333% - %s * 2)' % $item-margin

@media (min-width: 60em)
    .use-case-dialog
        min-width 48em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(33.33% - %s * 2)' % $item-margin

@media (min-width: 80em)
    .item-wrapper
        flex-basis 'calc(25% - %s * 2)' % $item-margin

    .use-case-dialog
        min-width 64em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(25% - %s * 2)' % $item-margin

@media (min-width: 96em)
    .item-wrapper
        flex-basis 'calc(25% - %s * 2)' % $item-margin

        .item-header
            height  9em
            .item-icon
                max-width   14em
                max-height  4em

@media (min-width: 108em)
    .use-case-dialog
        min-width 88em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(20% - %s * 2)' % $item-margin

@media (min-width: 112em)
    .item-wrapper
        flex-basis 'calc(20% - %s * 2)' % $item-margin

@media (min-width: 128em)
    .item-wrapper
        flex-basis 'calc(16.666% - %s * 2)' % $item-margin
