.connector-list, .use-cases-list
    display          flex
    flex-wrap        wrap
    justify-content  flex-start
    margin           0 -.7em 2em

$item-margin = .7em

.item-wrapper
    flex             1 1 'calc(100% - %s * 2)' % $item-margin
    position         relative
    box-sizing       border-box
    border-radius    4px
    background-color white
    border           1px solid alpha(black, .15)
    margin           $item-margin
    padding-bottom   1em
    cursor           pointer
    text-decoration  none
    text-align       center
    transition       .2s ease all
    &:hover
        box-shadow 0 4px 12px 0 alpha(black, .15)
        transform  scale(1.05)
        transition .2s ease all
    .item-header
        position      relative
        border-radius 4px 4px 0 0
        height        9em
        background    white
        .item-icon
            position      relative
            display       block
            border-radius 4px 4px 0 0
            width         14em
            height        4em
            margin        0 auto
            top           50%
            transform     translateY(-50%)
    .item-title
    .use-case-title
        padding     0 .5em
        margin      .5em
        color       black
        font-size   em(20px)
        font-weight 700
    .use-case-title
        font-weight 500
        font-size   em(18px)
        text-align  left
        margin-top  1em
    .item-subtitle
        font-size 14px
        padding   0 1em
        margin    0 .5em
        color     grey-06
    .item-connected
        position absolute
        width    24px
        height   24px
        bottom   1em
        right    1em

.use-cases-list
    .item-wrapper
        box-shadow  0 2px 6px 0 alpha(black, .15)
        border      0

@media (min-width: 40em)
    .item-wrapper
        flex-grow  0
        flex-basis 'calc(50% - %s * 2)' % $item-margin

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(100% - %s * 2)' % $item-margin

@media (min-width: 64em)
    .item-wrapper
        flex-basis 'calc(50% - %s * 2)' % $item-margin

    .use-case-dialog
        min-width 32em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(50% - %s * 2)' % $item-margin

@media (min-width: 80em)
    .item-wrapper
        flex-basis 'calc(33.333% - %s * 2)' % $item-margin

@media (min-width: 96em)
    .item-wrapper
        flex-basis 'calc(25% - %s * 2)' % $item-margin

    .use-case-dialog
        min-width 64em

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(33.33% - %s * 2)' % $item-margin

@media (min-width: 112em)
    .item-wrapper
        flex-basis 'calc(20% - %s * 2)' % $item-margin

@media (min-width: 128em)
    .item-wrapper
flex-basis 'calc(16.666% - %s * 2)' % $item-margin

    .use-case-dialog
        .item-wrapper
            flex-basis 'calc(25% - %s * 2)' % $item-margin
