@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'
@require 'settings/spaces.styl'

mobileTileSize = 3rem
outsideBorder = 0 0 0 1px rgba(0, 0, 0, .08)
lightShadow = 0 4px 12px 0 rgba(0, 0, 0, .08)
heavyShadow = 0 4px 24px 0 rgba(50, 54, 63, .08)

.app-list, .services-list, .shortcuts-list
    appTileSize = 4rem
    appGridGutter = 2rem
    max-width 'calc(%s * 8 + %s * 7 + 4rem)' % (appTileSize appGridGutter) // 8 columns + 7 column gaps + border gaps
    display grid
    grid-template-columns repeat(auto-fit, appTileSize)
    grid-template-rows appTileSize repeat(auto-fit, appTileSize) // first row is for the divider
    grid-gap (appGridGutter)
    opacity .99 // required for the blend mode difference to work
    padding-left 0 // browser default style reset

    +tiny-screen()
        margin 2rem auto
        grid-template-columns repeat(auto-fit, mobileTileSize)
        grid-template-rows mobileTileSize repeat(auto-fit, mobileTileSize) // first row is for the divider
        grid-gap rem(20)

    .item
        background var(--white)
        padding 12px 8px
        border-radius 8px
        border-width 1px
        border-style solid
        border-color transparent
        position relative


        @media (pointer coarse)
            &:hover
                transform none

        +tiny-screen()
                padding 12px 4px

    .item--maintenance .item-icon
            filter grayscale(1)
            opacity .64

    .item--ghost
            background var(--zircon)
            border dashed 1px var(--primaryColorLightest)

            .item-icon
                filter sepia(1) saturate(3) hue-rotate(-180deg)
                opacity .64

            &:hover
                border-color: var(--dodgerBlue)

    .item-icon
        width rem(32)
        height rem(32)
        position relative

        +tiny-screen()
            width rem(24)
            height rem(24)

    .item-grid-icon
        width rem(16)
        height rem(16)

        +tiny-screen()
            width rem(12)
            height rem(12)

    .item-status
        position absolute
        bottom -6px
        right -6px
        border 2px solid var(--white)
        border-radius 50%
        background var(--white)

    .item--add-service
        .item-icon
            box-sizing border-box
            display flex
            justify-content center
            align-items center

        &[aria-busy='true']
            opacity .8

        &[aria-busy='true']:hover
            transform none

.app-list-wrapper, .services-list-wrapper
    max-width 50rem

.EmptyServicesListTip
    box-sizing border-box
    width 640px
    max-width 100%
    margin auto
    padding 1rem 2rem

    +tiny-screen()
        padding 0 1.5rem 1rem 3rem

.EmptyServicesListTip-text
    font-style italic
    padding-left 1rem

    +tiny-screen()
        padding-left .5rem

.item
    box-sizing border-box
    border-radius rem(8)
    width 100%
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex-shrink 0
    cursor pointer
    text-decoration none
    text-align center

.item-icon
        margin-bottom rem(8)

        +tiny-screen()
            margin-bottom rem(4)

.item-title
h3.item-title // Required to override Material UI styles that we do not want here
        width 100%
        margin 0
        color var(--charcoalGrey)
        font-size rem(12)
        font-weight normal
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

        +tiny-screen()
            font-size rem(10)
            line-height 1.2
