@require 'tools/mixins.styl'
@require 'settings/palette.styl'

// Onboarding notification styles
// TODO: use the one in cozy-ui ?
notification-width = rem(546)
.coz-notifier
    z-index 100

.coz-notification
    display          flex
    position         absolute
    top              rem(16)
    left             0
    margin           0 rem(16)
    border-radius    rem(10)
    background-color emerald
    box-shadow       0 rem(6) rem(18) 0 rgba(50, 54, 63, .23)
    box-sizing       border-box
    flex-direction   column
    justify-content  center
    padding          1em
    color            white

    //                  When only a title is displayed
    min-height          rem(96)
    padding-left        rem(96)
    background-image    embedurl('../assets/icons/icon-check.svg')
    background-size     rem(32) rem(32)
    background-repeat   no-repeat
    background-position rem(32) center

    transition                 top .5s
    transition-timing-function ease-out
    cursor                     pointer

    .coz-notification-title
        font-size   1.125rem
        font-weight bold

    .coz-notification-details
        margin-top .3125rem
        font-size  .9375rem

.coz-notification--error
    background-color pomegranate
    background-image embedurl('../assets/icons/icon-warning.svg')

.coz-notification--closing
    top                        -25%
    transition-timing-function ease-in

@media all and (min-width notification-width)
    .coz-notification
        left        50%
        max-width   notification-width
        margin-left -(notification-width/2)
        width       100%
