.con-wrapper // @stylint ignore
    @extend $sidebar
    @extend $navigation

.con-cat-discovery
    background: embedurl('../assets/sprites/icon-compass.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/sprites/icon-compass-active.svg')
.con-cat-categories
    background: embedurl('../assets/sprites/icon-grid.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/sprites/icon-grid-active.svg')
.con-cat-connected
    background: embedurl('../assets/sprites/icon-pin.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/sprites/icon-pin-active.svg')


@media (max-width: (1023/basefont)rem)
    .con-cat-discovery
    .con-cat-categories
    .con-cat-connected
        background-position center top

    // need this due to no css-modules usage in this app
    [role=application]
        aside
            width   100%!important // @stylint ignore


// related to categories submenu
.con-nav-submenu
    list-style  none
    margin      .5em 0 0 .5em

    .con-nav-submenu-link
        display         block
        width           calc(100% - 2em)
        height          100%
        padding         .5em 1em
        margin          0
        border-radius   4px 0 0 4px
        font-size       em(14px)
        color           grey-08
        text-decoration none

        &:hover:not(.active)
            background-color grey-09

    .active
        color               white
        border-right        1px solid grey-12
        background-color    grey-12

@media (max-width: (1023/basefont)rem)
    .con-nav-submenu
        display none
