@require 'settings/palette.styl'

:local // @stylint ignore
    .col-account-folder
        margin-top  2rem
        position    relative

        &-link
            color dodgerBlue
            text-decoration none
            font-weight bold
            display flex
            align-items center
            margin-top 1rem
